.footer {
	max-width: 1200px;
	padding: 40px 20px;
	gap: 100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer p {
	color: #a4a8aa;
	font-size: 1.625rem;
	text-align: right;
	grid-column: 2;
}

.lista-contato {
	color: #2b383f;
	margin-top: 60px;
}

.lista-contato li {
	font-size: 1.875rem;
	font-weight: bold;
	position: relative;
}

.lista-contato li::before {
	content: "";
	display: block;
	width: 5px;
	height: 30px;
	background: #40ceed;
	position: absolute;
	top: 10px;
	left: -10px;
}

@media (max-width: 800px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.footer h2 {
		font-size: 2rem;
		text-align: center;
	}

	.footer h2 br {
		display: none;
	}

	.footer ul {
		margin: 0px;
	}

	.footer li {
		font-size: 0.9375rem;
	}

	.footer p {
		font-size: 0.8rem;
	}
}