.formacao {
	background: #2b383f;
}

.formacao-container {
	max-width: 1200px;
	padding: 40px 20px;
	gap: 100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #a4a8aa;
}
.formacao-texto {
	max-width: 500px;
	color: #a4a8aa;
	margin-top: 60px;
	font-size: 1.25rem;
}

.formacao-texto strong {
	color: #29b0ce;
}

.faculdade-lista {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.faculdade {
	flex: 1;
	background: #3e4e56;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.faculdade-tipo {
	font-size: 0.875rem;
}

.faculdade-curso {
	font-size: 0.875rem;
	color: #fff;
	font-weight: bold;
	flex: 1;
}

.faculdade-curso::before {
	content: "";
	width: 4px;
	height: 30px;
	background-color: #40ceed;
	position: absolute;
	left: -5px;
	top: 2px;
}

.formacao-extra h3 {
	font-size: 0.875rem;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}

.formacao-extra li {
	color: #fff;
}

.curso,
.idiomas {
	margin: 60px auto;
}

.curso h3::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/livro.svg");
	background-repeat: no-repeat;
	position: absolute;
	left: -36px;
}

.idiomas h3::before {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/traducao.svg");
	background-repeat: no-repeat;
	position: absolute;
	left: -36px;
}

@media (max-width: 800px) {
	.formacao-container {
		grid-template-columns: 1fr;
		padding: 60px 20px;
	}

	.formacao-container h2 {
		font-size: 3rem;
		text-align: center;
	}

	.formacao-container h2 br {
		display: none;
	}

	.idiomas h3::before,
	.curso h3::before {
		display: none;
	}
}
