.introducao {
	max-width: 1200px;
	padding: 40px 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 100px;

}

.introducao img {
	max-width: 100%;
	object-fit: contain;
}

.introducao h1 {
	font-size: 4.5rem;
	line-height: 1.125;
	margin-bottom: 30px;
	position: relative;
}


.introducao h1::before {
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background: #40CEED;
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	left: -15px;
}

.introducao p {
	font-size: 1.5rem;
	color: #55636A;
}

@media (max-width: 1000px) {
	.introducao h1 {
		font-size: 3rem;
	}


@media (max-width: 800px) {
	.introducao {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	.introducao h1 {
		font-size: 2rem;
	}

	.introducao p {
		font-size: 0.8rem
	}
}

@media (max-width: 400px) {

	.introducao {
		grid-template-columns: 1fr;
	}

	.introducao img {
		display: none;
	}
}